<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.armscreation.a_games">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.armscreation.a_games.tictactoe.Splash"/>
        <activity android:name="com.armscreation.a_games.tictactoe.Host"/>
        <activity android:name="com.armscreation.a_games.tictactoe.MainActivity"/>
        <activity android:name="com.armscreation.a_games.tictactoe.Join"/>

        <activity android:name="com.armscreation.a_games.bingo.Splash"/>
        <activity android:name="com.armscreation.a_games.bingo.Host"/>
        <activity android:name="com.armscreation.a_games.bingo.MainActivity"/>
        <activity android:name="com.armscreation.a_games.bingo.Join"/>


        <activity android:name="com.armscreation.a_games.chain.Splash"/>
        <activity android:name="com.armscreation.a_games.chain.Host"/>
        <activity android:name="com.armscreation.a_games.chain.MainActivity"/>
        <activity android:name="com.armscreation.a_games.chain.Join"/>


        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3273060511389671~7647484833"/>
    </application>

</manifest>